<div class="sidebar">
  <h3>Welcome</h3>

  <div class="user-img">
    <img alt="user-image" src="">
  </div>
  <div class="user-name">
    For now Guest
  </div>

  <ul class="nav-list">

    <a class="nav-item" routerLink="home"><i class="fas fa-home"></i>Home</a>
    <a class="nav-item" routerLink="profile"><i class="fas fa-user"></i>Profile</a>
    <a class="nav-item" routerLink="booking"><i class="fas fa-calendar-alt"></i>Booking</a>
    <a class="nav-item" routerLink="shop"><i class="fas fa-shopping-cart"></i>Shop</a>
    <a class="nav-item" routerLink="achievements"><i class="fas fa-trophy"></i>Achievements</a>
    <a class="nav-item" routerLink="team"><i class="fas fa-users"></i>Team</a>

  </ul>

  <div class="user-logout">
    <a class="nav-item" routerLink="login"><i class="fas fa-sign-in"></i>Login</a>
    <a class="nav-item" routerLink="register"><i class="fas fa-user-plus"></i>Register</a>

  </div>

</div>
